# Task 7.1: Sourcing Open Data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import seaborn as sns
import scipy
import matplotlib.pyplot as plt

In [2]:
# Create folder path
path = r'C:\Users\Thor\OneDrive\Desktop\Career Foundry Tools\Projects\Project 7\Netflix'

In [5]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data','IMDB', 'IMDb movies cleaned.csv'), index_col = False,encoding=('ISO-8859-1'))

In [7]:
df.head()

,imdb_title_id,original_title,year,genre 1,genre 2,genre 3,duration,country,country 2,language,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,1894,Romance,NaN,NaN,45,USA,NaN,None,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,1906,Biography,Crime,Drama,70,Australia,NaN,None,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,"$2,250",NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drom,1911,Drama,NaN,NaN,53,Germany,Denmark,NaN,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002130,L'Inferno,1911,Adventure,Drama,Fantasy,68,Italy,NaN,Italian,...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
4,tt0194248,Pinocchio,1911,Fantasy,NaN,NaN,50,Italy,NaN,NaN,...,"Polidor, Augusto Mastripietri, Natalino Guilla...",The old carpenter Geppeto manufactures in his ...,5.7,102,NaN,NaN,NaN,NaN,1.0,NaN

In [8]:
df.shape

(85855, 24)

In [9]:
df.dtypes

imdb_title_id             object
original_title            object
year                       int64
genre 1                   object
genre 2                   object
genre 3                   object
duration                   int64
country                   object
country 2                 object
language                  object
director                  object
director 2                object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object

In [10]:
df['duration'].describe()

count    85855.000000
mean       100.351418
std         22.553848
min         41.000000
25%         88.000000
50%         96.000000
75%        108.000000
max        808.000000
Name: duration, dtype: float64